type camera_binder_service, protected_service, service_manager_type, hal_service_type;
type camera_cameraidremapper_service, protected_service, service_manager_type, hal_service_type;
type camera_lyricconfigprovider_service, protected_service, service_manager_type, hal_service_type;
type vendor_pbcs_app, domain, appdomain, coredomain;
type vendor_pcs_app, domain, appdomain, netdomain, bluetoothdomain, coredomain;
type better_bug_app, domain, appdomain, netdomain, coredomain;
type vendor_pbcs_app_userfaultfd;
type vendor_pcs_app_userfaultfd;
type better_bug_app_userfaultfd;